body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
h1, h2 {
    color: #333;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
pre {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
.iframe-container {
    width: 800px; /* Set the width of the container */
    height: 600px; /* Set the height of the container */
}
.tab-buttons {
    margin-bottom: 20px;
}
.tablink {
    background-color: #f2f2f2;
    border: none;
    color: #000;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.tablink:hover {
    background-color: #ddd;
}
.tab {
    display: none;
}

.expander-checkbox {
    display: none;
  }
  
.expander-label {
cursor: pointer;
user-select: none;
padding: 10px;
background-color: #f0f0f0;
border-radius: 5px;
border: 1px solid #ccc;
}

.expander-content {
display: none;
padding: 10px;
margin-top: 10px;
background-color: #f9f9f9;
border: 1px solid #ccc;
border-radius: 5px;
}

.expander-checkbox:checked + .expander-label + .expander-content {
display: block;
}

.separator {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.half_separator {
    border: none;
    border-top: 1px solid #ccc;
    width: 50%;
    margin: 0;
}

.reference-number {
    color: green;
}

tab-buttons {
    margin-bottom: 20px;
}

.tablink {
    background-color: #f2f2f2;
    border: none;
    color: #000;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.tablink:hover {
    background-color: #ddd;
}

.tab {
    display: none;
}