.DS_Store
build/
*.egg-info
dist/
kglab/
data/
misc/
notebooks
**/__pycache__/**
.vscode
meta_review/regular
meta_review/numerical
meta_review/categorical
app/meta_review/
test_bnlp
data_old/
src/settings.py